.center {
    text-align: center;
}

fieldset {
    display: block;
    margin: 10px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    background-color: lightgray;
    border: 1px groove darkgray;
    border-radius: 5px;
}

section {
    background-color: white;
    border-radius: 5px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.campoPesquisa {
    width: 85%;
}

input[type=email],
input[type=tel] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    padding: 2px;
    margin: 2px;
    font-size: x-small;
    width: 5%;
}